
h1{
    background-color: darkolivegreen;
    color: white;

}

.imgProductos{
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
}

.card{
    display: flex;
    align-items: center;
    margin: 0.5 rem;
}

.colorBoton{
    color: white;
    background-color: darkolivegreen;
}

.colorBoton:hover{
    background-color: darkgreen;
    color:white;
}

.ubicacion{
    margin-top: 50px;
    margin-bottom: 30px;
}